<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Image Search Abstraction Layer Freecodecamp</h1>
         <p>search for images like this:<br> <code>https://pyrite-vacuum.glitch.me/api/imagesearch/lolcats%20funny?offset=10</code> <br> and browse recent search queries like this:<br> <code>https://pyrite-vacuum.glitch.me/api/latest/imagesearch/</code></p>
      </div>
   </body>

</html>
